/* Banner Section */
#banner {
    background-image: url('./assets/ban.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    /* Increased height for better visibility */
    width: 100%;
}

/* About Us and Contact Us Sections */
#about-us,
#contact-us {
    background-color: black;
    padding: 20px;
    border: 1px solid white;
    color: white;
    width: 100%;
    /* font-size: large; */
}

.card{
    height: 300px;
    align-items: center;
    justify-content: center;
}
/* Footer Section */
.footer {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    /* Increased padding for better footer visibility */
    text-align: center;
    /* position: fixed;
    bottom: 0; */
    width: 100%;
    /* left: 0;
    z-index: 1; */
    /* Ensure footer is at the bottom */
}

/* media query for mobile responsiveness */
@media only screen and (max-width: 600px) {
    #banner {
        height: 230px;
    }
    .card{
        height: 200px;
    }
}
